html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(to right, #ec6f66, #f3a183);
  min-width: 400px;
}

a {
  color:white;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0,0,0,0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition:all 0.2s;
}

a:hover {
  background: #d0493f;
}

/* Hide Menu Icon by default */
.toggleNav {
  display: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border: 0;
  border-radius: .05px;
}

section, footer {
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 200;
  background:rgba(0,0,0,0.2);
}


/* --- FLEXBOX --- */
/* Flex Container */
.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Flex Items */
.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}




/* RESPONSIVE */
@media all and (max-width:900px) {

  .flex-nav ul {
    flex-wrap: wrap;
  }

  .flex-nav li {
    flex: 1 1 50%;
    /*flex <grow><shrink><basis>*/
  }

  .flex-nav .social {
    flex: 1 1 25%;
  }

}


/* Mobile */
@media all and (max-width:500px) {

  .flex-nav li {
    flex-basis: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

/* Flex Item */
  .wrapper > * {
    order: 9999;
  }

  .flex-nav {
    order: 1;
  }

  .toggleNav {
    display: block;
  }

  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }

  .top {
    order: 2;
  }

  .details {
    order: 3;
  }

  .hero {
    order: 4
  }

  .signup {
    order: 5;
  }

}
